[submodule ".vim/bundle/auto-pairs"]
	path = .vim/bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule ".vim/bundle/tlib_vim"]
	path = .vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule ".vim/bundle/vim-snippets"]
	path = .vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/html5-vim"]
	path = .vim/bundle/html5-vim
	url = https://github.com/othree/html5.vim.git
[submodule ".vim/bundle/vim-handlebars"]
	path = .vim/bundle/vim-handlebars
	url = https://github.com/nono/vim-handlebars
[submodule ".vim/bundle/grunt.vim"]
	path = .vim/bundle/grunt.vim
	url = https://github.com/mklabs/grunt.vim
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/bundle/typescript-vim"]
	path = .vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule ".vim/bundle/vim-solidity"]
	path = .vim/bundle/vim-solidity
	url = https://github.com/tomlion/vim-solidity
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go
[submodule ".vim/bundle/rust.vim"]
	path = .vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule ".vim/bundle/async.vim"]
	path = .vim/bundle/async.vim
	url = https://github.com/prabirshrestha/async.vim
[submodule ".vim/bundle/vim-lsp"]
	path = .vim/bundle/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule ".vim/bundle/asyncomplete.vim"]
	path = .vim/bundle/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim
[submodule ".vim/bundle/asyncomplete-lsp.vim"]
	path = .vim/bundle/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim
[submodule ".vim/bundle/editorconfig-vim"]
	path = .vim/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule ".vim/bundle/vim-lsp-typescript"]
	path = .vim/bundle/vim-lsp-typescript
	url = https://github.com/ryanolsonx/vim-lsp-typescript
[submodule ".vim/bundle/vim-jsx-typescript"]
	path = .vim/bundle/vim-jsx-typescript
	url = https://github.com/peitalin/vim-jsx-typescript
[submodule ".vim/bundle/vim-solidity.git"]
	path = .vim/bundle/vim-solidity.git
	url = https://github.com/TovarishFin/vim-solidity.git
